body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.container{
  width:1440px;
  margin: auto;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header__navigation__list,
.service__list,
.description__words__list,
.clients__list,
.footer__social__list,
.sort__column__list,
.filter__form__list,
.cards__list,
.cards__pagination-list,
.description__visual__list,
.main-image__slider__slider-list
{
  list-style: none;
}

.navigation__item__link,
.main-image__slider__button,
.sort__column__item__link,
.cards__item__description__link,
.cards__item__description__button,
.cards__pagination-item__link
{
  text-decoration: none;
  color: #000000;
}

.navigation__item__link{
  line-height: 30px;
  color: #000000;
}

.navigation__item__link:hover,
.navigation__item__link:focus{
  color: #fb565a;
}

.navigation__item__link:active{
   color: rgba(0, 0, 0, 0.3);
}

.main-image__slider__header{
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  text-transform: none;
}

.main-image__slider__slider-list{
  margin: 0px;
  padding: 0px;
}

.main-image__slider__text{
  line-height: 24px;
  text-transform: none;
}

.main-image__slider__button{
  color: #ffffff;
  background-color: #e24453;
}

.main-image__slider__button:hover,
.main-image__slider__button:focus{
  background-color: #ef1339;
}

.main-image__slider__button:active{
  color: rgba(255, 255, 255, 0.3);
}

.service__item__header{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.service__item__text{
  line-height: 24px;
  text-transform: none;
}

.service__item__button{
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  border:none;
  cursor: pointer;
}

.button_red{
  background-color: #ff3850;
}

.button_red:hover,
.button_red:focus{
  background-color: #e74246;
}

.button_red:active{
  background-color: #de002d;
  color: rgba(255, 255, 255, 0.3);
}

.button_green{
  background-color: #00ca74;;
}

.button_green:hover,
.button_green:focus{
  background-color: #00bc6c;
}

.button_green:active{
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button_yellow{
  background-color: #e6da2c;
}

.button_yellow:hover,
.button_yellow:focus{
  background-color: #eab534;
}

.button_yellow:active{
 background-color: #e5a722;
 color: rgba(255, 255, 255, 0.3);
}

.description__words_header{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-transform: none;
}

.description__words__list-header{
  line-height: 24px;
  font-weight: 700;
}

.description__words__text,
.description__words__item{
  line-height: 24px;
  text-transform: none;
}

.description__visual__header{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.description__visual__item_percent{
  font-size: 45px;
  line-height: 10px;
  text-transform: none;
}

.description__visual__item_text{
  text-transform: none;
}

.map__description__header{
  font-size: 18px;
  line-height: 30px;
}

.map__description__adress,
.map__description__phone{
  text-transform: none;
}

.map__description__button{
  font: inherit;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
}

.map__description__button:hover,
.map__description__button:focus{
  background-color: #e74246;
}

.map__description__button:active{
  background-color: #de002d;
  color: rgba(255, 255, 255, 0.3);
}

.footer__signature__header{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
}

.footer__signature__text{
  line-height: 21px;
  text-transform: none;
}

.modal-write__header{
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-transform: none;
}

.modal-write__label{
  text-transform: none;
  font-weight: 700;
}

.modal-write__button{
  font: inherit;
  text-transform: uppercase;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
}

.modal-write__button:hover,
.modal-write__button:focus{
  background-color: #e74246;
}

.modal-write__button:active{
  background-color: #de002d;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-name__header{
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  text-transform: none;
  text-align: center;
}

.sort__column__name{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.sort__column__item__link{
  font-size: 14px;
  line-height: 18px;
  color:rgba(0, 0, 0, 0.3);
}

.active-sort{
  color:#000000;
}

.sort__column__item__link:hover,
.sort__column__item__link:focus{
  color: rgba(0, 0, 0, 0.6);
}

.sort__column__item__link:active{
  color: #000000;
}

.filter__form__legend{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter__form__option{
  line-height: 20px;
  text-transform: none;
  color: #283136;
}

.filter__form__list{
  margin-bottom: 22px;
}

.filter__form__button{
  font: inherit;
  text-transform: uppercase;
  border:none;
  background-color: #eeeeee;
  padding: 13px 65px;
  width: 260px;
}

.filter__form__button:hover,
.filter__form__button:focus{
  background-color: #dfdfdf;
}

.filter__form__button:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.cards__item__description__header{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.cards__item__description__text{
  text-transform: none;
}

.cards__item__description__button{
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.cards__item__description__button:hover,
.cards__item__description__button:focus{
  background-color: #e74246;
}

.cards__item__description__button:active{
  background-color: #de002d;
  color: rgba(255, 255, 255, 0.3);
}

.map{
  background-image: url('../img/map.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ededed;
}

.header{
  background-color: #ededed;
  /*background-color: red;*/
  display: flex;
  padding-left: 130px;
  padding-right: 140px;
  padding-top:50px;
  padding-bottom:17px;
  display: flex;
}

.catalog-name{
  background-color: #ededed;
  padding-top: 60px;
  padding-bottom: 108px;
}

.header__navigation{
  margin-left: 205px;
  width:100%;
}

.header__navigation__list{
  display: flex;
  padding-left: 0px;
  margin: 0px;
  padding-top: 25px;
  justify-content: space-between;
}

.navigation__item{
  min-width:30px;
}

.navigation__item:nth-child(5){
  text-align: right;
  width:40%;
  position: relative;
}

.navigation__item:nth-child(5)::before{
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top:5px;
  left: 70%;
  background-image: url('../img/cart-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-image{
  max-height: 412px;
  margin-bottom: 78px;
  padding-left: 139px;
  padding-right: 130px;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

.main-image__slider__slider-item{
  display: flex;
}

.main-image__slider__slider-item{
  display: none;
}

.main-image__slider__slider-item:nth-child(1){
  display: flex;
}

.main-image{
  position: relative;
}

.main-image__slider-controls__trigger{
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;

}

.main-image__slider-controls__trigger:after{
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  background: #ffffff;
  border-radius: 50%;
}

.main-image__slider-controls{
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.active-trigger::before{
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.main-image__slider__descr{
  width:37%;
}

.main-image__slider__header{
  margin-top: 0px;
  padding-top: 59px;
  margin-bottom: 25px;
}

.main-image__slider__text{
    margin-bottom: 40px;
}

.main-image__slider__button{
  padding: 17px 55px;
  display:block;
  width: 241px;
  box-sizing: border-box;
  border-radius: 3px;
}

.main-image__slider__image{
  box-sizing: border-box;
}

.service{
  padding-left: 139px;
  padding-right: 220px;
  margin-bottom: 80px;
}

.service__list{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: space-between;
}

.service__item{
  width:26%;
}

.service__item__header{
  margin-bottom: 14px;
}

.service__item__text{
  margin-top: 0px;
  margin-bottom: 35px;
}

.service__item__button{
  display: block;
  padding: 15px 40px;
  width:160px;
  border-radius: 3px;
}

.description{
  padding-left: 138px;
  padding-right: 155px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
}

.description__container{
  padding-top: 40px;
  border-top: 2px solid #ededed;
  display: flex;
  justify-content: space-between;
}

.description__words_header{
  margin-top: 0px;
  padding-top: 35px;
  margin-bottom: 32px;
}

.description__words__text{
  margin-top:0px;
  margin-bottom: 39px;
}

.description__words{
  width:60%;
}

.description__words__list{
  padding-top: 8px;
  padding-left: 39px;
}

.description__words__item{
  margin-bottom: 25px;
}

.description__visual{
  text-align: right;
  width: 30%;
}

.description__visual__list{
  margin-top: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
}

.description__visual__image{
  margin-bottom: 33px;
}

.description__visual__header{
  text-align: middle;
  margin-top: 0px;
}

.description__visual__item{
  width:32%;
  text-align: left;
}

.description__visual__item_percent{
  margin-bottom: 34px;
}

.description__visual__item_text{
  margin-top: 0px;
}

.clients{
  padding-left: 138px;
  padding-right: 140px;
  margin-bottom: 72px;
}

.clients__list{
  padding-left: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

.clients__item__image{
  opacity: 0.2;
}

.clients__item__image:hover,
.clients__item__image:focus{
  opacity: 1;
}

.clients__item__image:active{
  opacity: 0.1;
}

.clients__item{
  padding-top: 50px;
  padding-bottom: 38px;
  width: 25%;
}

.clients__item__link{
  display: inline-block;
  min-height: 90px;
}

.clients__item__border{
  content: : "";
  width: 5px;
  background-color: red;
  border-right: 2px solid #ededed;
}

.map{
  height:416px;
  margin-bottom: 69px;
  position: relative;
}

.map__description{
  background-color: #ffffff;
  width: 22%;
  position:absolute;
  top: 53px;
  left: 140px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 53px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.map__description__header{
  margin-top:0px;
  margin-bottom: 24px;
}

.map__description__adress{
  margin-top:0px;
}

.map__description__phone{
  margin-bottom: 35px;
}

.map__description__button{
  padding: 17px;
  display: block;
  width: 219px;
  box-sizing: border-box;
  border-radius: 3px;
}

.footer{
  display: flex;
  padding-left: 138px;
  padding-right: 140px;
  margin-bottom: 45px;
}

.footer__social__list{
  display: flex;
  padding-left: 0px;
  margin:0;
  width: 23%;
  justify-content: space-between;
}

.footer__social__item{
  border-radius: 50% 50%;
  background-color: #e1e1e1;
}

.footer__social__item:hover,
.footer__social__item:focus{
  background-color: #e74246;
}

.social__item__link{
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
}

.footer__social__item:active{
  background-color: #d7373b;
  opacity: 1.5;
}

.social_vk{
  background-image: url('../img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social_fb{
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social_insta{
  background-image: url('../img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer__signature{
  padding-left: 135px;
  padding-top: 4px;
}

.footer__signature__header{
  margin-top: 0px;
  margin-bottom: 16px;
}

.footer__signature__text{
  margin:0;
}

.modal-write{
  /*display: none;*/
  position: absolute;
  display: flex;
  background-color: #ffffff;
  width:67%;
  right: 50%;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  transform: translateX(50%);
  box-shadow: 0px 10px 20px 5px rgba(0, 1, 1, 0.75);
  top:-120px;
  overflow: hidden;
}

.modal-write__form{
  width: 100%;
}

.modal-write__header{
  margin-top: 75px;
  margin-bottom: 45px;
}

.modal-write__first-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
}

.modal-write__second-row{
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.modal-write__first-row__container{
  display: flex;
  flex-direction: column;
  width:48%;
}

.modal-write__label{
  margin-bottom: 15px;
}

.modal-write__input{
  padding:13px;
  border: solid 1px #d7dcde
}

.modal-write__textarea{
  padding:13px;
  min-height:110px;
  border: solid 1px #d7dcde
}

.modal-write__input:hover,
.modal-write__textarea:hover{
  border: solid 1px #b4b9bb;
}

.modal-write__input:focus,
.modal-write__textarea:focus{
  border: solid 1px #000000;
}


.modal-write__button{
  margin-bottom: 70px;
  padding: 15px 85px;
}

.catalog-container{
  display: flex;
  padding-left: 140px;
  padding-right: 142px;
}

.catalog-name{
  margin-bottom: 50px;
}

.catalog-name__header{
  margin-bottom: 0px;
  margin-top: 0px;
}

.filter__form__fieldset{
  border:none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 56px;
}

.filter{
  width:35%;
  position: relative;
  padding-top: 2px;
}

.filter__form__range{
  width: 260px;
  margin-top: 49px;
}

.filter__form__range__range-controls{
  height: 41px;
  margin-bottom: 17px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  position: relative;
}

.range-controls__scale{
  height: 2px;
  background: #d7dcde;
}

.range-controls__scale__bar{
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter__form__fieldset__toggle{
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls__toggle-min{
  left: 18px;
}

.price-controls__label{
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls__input{
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-controls__max-price{
  text-align: right;
}

.range-controls__toggle-min{
  left: 50px;
}

.range-controls__toggle-max{
  left: 110px;
}

.filter__form__range__price-controls{
  font-size: 0;
}

.range_controls__toggle-max{
  left: 160px;
}

.filter__form__option__label_radio,
.filter__form__option__label_checkbox{
  user-select: none;
}

.filter__form__option__label_checkbox::before{
    content: " ";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    background-image: url('../img/checkbox-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter__form__option_checkbox:checked + .filter__form__option__label_checkbox::before{
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__form__option__label_radio::before{
    content: " ";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    background-image: url('../img/radio-off.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter__form__option_radio:checked + .filter__form__option__label_radio::before{
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter__form__option{
  opacity: 0.4;
  margin-bottom: 20px;
}

.filter__form__option:hover{
  opacity: 1;
}

.filter__form__option:blocked{
  opacity: 0.2;
}

.fieldset-grid,
.fieldset-features{
  margin-bottom: 20px;
}


/*стили для фильтра*/

.sort{
  display: flex;
  vertical-align: middle;
  margin-bottom: 52px;
  justify-content: space-between;
  align-items:baseline;
}

.sort__column__list{
  display: flex;
  margin: 0;
  padding: 0;
}

.sort__column__item{
  width: 33%
}

.sort__column{
  width: 50%;
  justify-content: space-between;
}

.column-list{
  width: 38%;
}

.sort__column__sort-down{
  transform: rotate(180deg);
}

.column-up-down{
  width: 4%;
  display: flex;
  justify-content: space-between;
}

.column-up-down_active path{
  fill:#231F20;
}

.sort__column__sort-down:hover path,
.sort__column__sort-down:focus path,
.sort__column__sort-up:hover path,
.sort__column__sort-ups:focus path{
  fill:#b9b9b9;
}

.sort__column__sort-down:active path,
.sort__column__sort-up:active path{
    fill:#231e20;
}

/*стили для сортировки*/

.cards{
  width:66%;
}

.cards__list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
}

.cards__item{
  margin-bottom: 34px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cards__item__description{
  display: none;
  position: absolute;
  background-color: #eeeeee;;
  bottom: 0;
  padding-top: 25px;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 41px;
  box-shadow: border-box;
}

.cards__item__description__header{
  margin-bottom: 18px;
  margin-top: 0px;
  text-align: center;
}

.cards__item__description__text{
  font-size: 16px;
  color: #666666;
  margin:0px;
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
}

.cards__item__description__button{
  margin: 0px;
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  border-radius: 3px;
  padding-top:17px;
  padding-bottom: 17px;
  text-align: center;
  vertical-align: middle;
}

.cards__item:hover .cards__item__browser path{
  fill: #4e4e4e;
}

.cards__item:hover .cards__item__description{
  display: block;
  /*animation*/
}

.cards__pagination-list{
  display: flex;
  padding-left: 8px;
  padding-right: 325px;
  justify-content: space-between;
  margin: 0px;
  margin-bottom: 60px;
}

.cards__pagination-item__link{
  display: inline-block;
  width: 50px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  user-select: none;
}

.pagination-item-next .cards__pagination-item__link{
  width: 260px;
}

.pagination-item-current{
  width: 50px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: solid 3px #dbdbdb;
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  user-select: none;
}

.cards__pagination-item__link:hover,
.cards__pagination-item__link:focus{
  background-color: #dfdfdf;
}

.cards__pagination-item__link:active{
  background-color: #d5d5d5;
   box-shadow: inset 0px 1.5px 0 0 rgba(0, 1, 1, 0.1);
}
